/* custom.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Styles for the main container */
.main_container {
    max-width: 1800px; /* Limit the width of the container */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  /* Styles for the main header */
  .main_header {
    padding: 20px; /* Add some padding to the header */
    background-color: #ffffff; /* Set a background color */
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); Add a subtle shadow */
  }
  
  /* Styles for the main content container */
  .m_content_container {
    margin-top: 40px; /* Add some space between the header and content */
  }
  
  /* Styles for the main content */
  .m_content {
    flex: 1; /* Allow the content to grow and take remaining space */
    padding: 20px; /* Add some padding */
  }
  
  /* Styles for the main content header */
  .m_header {
    margin-bottom: 20px; /* Add some space below the header */
  }
   .m_header h1{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 803;
    font-style: normal;
    font-size: 4rem;
    
    
   }
  
  /* Styles for the main content paragraph */
  .m_para {
    margin-bottom: 20px; /* Add some space below the paragraph */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    margin-top:40px ;
    
  }
  
  /* Styles for the "Get Started" button */
  .m_content button {
    padding: 10px 20px; /* Add padding */
    background-color: #FF4F5A; /* Set background color */
    color: #ffffff; /* Set text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    margin-top:3rem ;
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  .m_content {
    padding: 20px; /* Add some padding */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border-radius: 5px; /* Add border radius */
  
    
  }
  
  /* Styles for the image container */
  .m_img {
    flex: 1; /* Allow the image container to grow and take remaining space */
  }
  
  /* Styles for the image */
  .m_img img {
    width: 80%; /* Make the image responsive and fill its container */
  }
  /* get started button  */
  .arrow-button {
    display: flex;
    color: #C2FFE9;
    padding: 10px 16px;
    border-radius: 20px;
    transition: all .3s ease;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
}

.arrow-button > .arrow {
    width: 6px;
    height: 6px;
    border-right: 2px solid #C2FFE9;
    border-bottom: 2px solid #C2FFE9;
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all .3s ease;
}

.arrow-button > .arrow::before {
    display: block;
    background-color: currentColor;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
}

.arrow-button:hover > .arrow {
    transform: rotate(-45deg) translate(4px, 4px);
    border-color: text-hover-color;
}

.arrow-button:hover > .arrow::before {
    opacity: 1;
    width: 8px;
}

.arrow-button:hover {
    color: #fff;
}
/*                                heading                        */

.header_comp {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 2rem;
}
/*                                                  input box                        */
.input_box{
  margin:2rem;
}
 /*                                             Logo  css                                        */
 .logo {
  cursor: pointer;
 }
 /*                                          singin page                                        */

 
.form_img {
  height:75vh;
}
.shadow_md {
  box-shadow: 0px 5px 15px rgba(255, 79, 90, 0.2), 0px 10px 20px rgba(255, 79, 90, 0.1);
  transition: box-shadow 0.3s ease-in-out; /* Add transition properties */
  width: 50%;
  margin-left: 8rem;
  padding: 2.5rem;
  margin-top: 1rem;
}
.shadow_md:hover{
  box-shadow: 0px 5px 15px rgba(255, 79, 90, 0.4), 0px 10px 20px rgba(255, 79, 90, 0.2);
}


